# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# dotenv environment variables file
.env
.env.test

# Optional eslint cache
.eslintcache

# TypeScript v1 declaration files
typings/

# Dependency directories
node_modules/
jspm_packages/